<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_springroo_Record" items="${records}" z="EWsKu0CO9CJvOKxA23jkVxCYfTw=">
        <table:table data="${records}" id="l_com_springroo_Record" path="/visualization" typeIdFieldName="id_" z="bp6dRVQG5suy4+njiBpmVKKjvIE=">
            <table:column id="c_com_springroo_Record_id" property="id" z="SlR8mG+PWdaLHGEYhbUw92wkx0c="/>
        </table:table>
    </page:list>
</div>
