<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_challenges_domain_MetricGoal" items="${metricgoals}" z="sXVZi5h16XntGOSzaoBe20WYZQI=">
        <table:table data="${metricgoals}" id="l_challenges_domain_MetricGoal" path="/metricgoals" z="DaBuZEbdZJ9nacuw3oww4wX0ZPU=">
            <table:column id="c_challenges_domain_MetricGoal_limit" property="limit" z="3GyyCRk6Mv2dNWV3Saz4v1jkjoE="/>
            <table:column id="c_challenges_domain_MetricGoal_description" property="description" z="iwQzOCk5M+3Ca/ShBRl4q3B54ow="/>
            <table:column id="c_challenges_domain_MetricGoal_goal" property="goal" z="3u5YOlKvYp+2lHjwu42njsjlikA="/>
        </table:table>
    </page:list>
</div>
