<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_challenges_domain_GoalStatus" items="${goalstatuses}" z="5kjZNgu6cv72mnmakZA3VFQNbfA=">
        <table:table data="${goalstatuses}" id="l_challenges_domain_GoalStatus" path="/goalstatuses" z="HdnMR7A1iu5hq34c/XOs1MyFV5U=">
            <table:column id="c_challenges_domain_GoalStatus_status" property="status" z="Q1joHlcGodJqMs82ZOa63C0ijmo="/>
            <table:column id="c_challenges_domain_GoalStatus_goal" property="goal" z="iqOS7qCpvHR2Gui6vLIqlvAsJDA="/>
            <table:column id="c_challenges_domain_GoalStatus_metric" property="metric" z="Dft2g5oUl+VbkxJr1aMczJrcOjM="/>
            <table:column id="c_challenges_domain_GoalStatus_challenger" property="challenger" z="L4uMPoy6Vs1pOgJmTWz+WfXPqcQ="/>
        </table:table>
    </page:list>
</div>
